body{
  font-family: Arial, Helvetica, sans-serif;
}


.blue{
  background-image: url('./images/blue.jpg');
  background-size:300px;
  background-repeat: no-repeat;
  background-position: center;
  width: 310px;
  min-height: 380px;
 
  margin: 0 auto;
}

.red{
  background-image: url('./images/red.jpg');
  background-size:350px;
  background-repeat: no-repeat;
  background-position: center;
  width: 310px;
  min-height: 380px;
 
  margin: 0 auto;
}
.yellow{
  background-image: url('./images/yellow.jpg');
  background-size:300px;
  background-repeat: no-repeat;
  background-position: center;
  width: 310px;
  min-height: 380px;
 
  margin: 0 auto;
}

button{
  width:"100px";
  height:"40px";
  font-weight:"bold";
  color:"white";
  background-color: "none";
  margin-top:"50%";
  border:"none";
}
button:hover{
  opacity: 0.5 !important;
  border:"2px solid white" !important;
  outline: none;
}
button:focus{
  outline: none;
}
@media all and (min-width: 600px ) and (max-width: 930px){
  .yellow,.red,.blue {
    background-size:200px;
   
  }
  button{
    width: 70px !important;
    height:40px !important;
   
  }
}